[uwsgi]
chdir = /opt/email-webhook
http-socket = 0.0.0.0:5000
wsgi-file = webhook.py
callable = app
workers = 5
master = true
uid = uwsgi
die-on-term = true
plugin = python
env = SCALR_SIGNING_KEY=scalr_webhook_signinkey
env = SMTP_SERVER=172.31.29.93
env = SMTP_FROM=demo@scalr.com
env = DOMAIN_GV=DOMAIN
# Comment the following line if the certificate of the endpoint is publicly trusted
env = BACKEND_VERIFY=false
